body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /*display: flex;
    justify-content: center;*/
    display: block;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.chat-container {
    display: flex;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-sidebar {
    width: 30%;
    background-color: #2a3f54;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profile, .contact {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-name, .contact-name {
    margin-left: 10px;
}

.profile-img, .contact-img, .chat-header-img {
    border-radius: 50%;
}

.search-box {
    margin: 20px 0;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.settings button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: black;
}

.chat-main {
    flex-grow: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e7e7e7;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 39px;
}

.message-input {
    display: flex;
    padding: 20px;
    border-top: 1px solid #e7e7e7;
}

.message-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.message-input button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
}
